#submission-guide
  :markdown
    # Как да (не) си изпращаме задачите

    Тук ще намерите кратки (или не толкова кратки) инструкции за това как да си изпращате
    задачите.

    ## Накратко

    * Прочетете си условието **внимателно** и дори няколко пъти.
    * Не споделяйте решението си с никого.
    * Не гледайте чужди решения.

    ## Преписване и споделяне на решения

    Всички решения стават публични след крайния срок на задачата. Преди това всякакво споделяне
    на решения е забранено.

    Това включва:

    * Да пратите решението си на някой друг.
    * Да го покажете на другарче, за да "почерпи идеи".
    * Да го сложите някъде публично преди крайния срок (например GitHub).
